
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_ProductLayout.cshtml";
}

<section  class="about py-lg-4 py-md-3 py-sm-3 py-3">
    <div style="margin-top: 200px" class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Thông tin về chúng tôi</h3>
        <div class="about-innergrid-agile text-center">
            <h4>Chào mừng bạn đến với cửa hàng chúng tôi</h4>
            <p class="mb-3">
                Hoa quả là những loại thực phẩm giàu chất dinh dưỡng và có nhiều lợi ích cho sức khỏe. 
                Chúng chứa nhiều vitamin, khoáng chất, chất xơ và chất chống oxy hóa, giúp tăng cường hệ miễn dịch, 
                giảm nguy cơ các bệnh lý và bảo vệ sức khỏe tốt hơn.
            </p>
        </div>
        <div class="about-sub-inner text-center mt-lg-4 mt-3">
            <h4>
                Liên lạc với chúng tôi ngay nào !!
            </h4>
            <div class="row">
                <div class="col-lg-4 col-md-4 abut-gride">
                    <span class="fas fa-truck"></span>
                    <h5>Vận chuyển</h5>
                    <p class="mt-3">
                        Vận chuyển chủ yếu khu vực miền bắc và trên đất nước Việt Nam
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 abut-gride">
                    <span class="fas fa-phone-volume"></span>
                    <h5>Hỗ trợ</h5>
                    <p class="mt-3">
                        Hỗ trọ liên hệ với chúng tôi thông tin bên dưới
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 abut-gride">
                    <span class="fas fa-undo"></span>
                    <h5> Trở lại</h5>
                    <p class="mt-3">
                        Nếu cảm thấy hài lòng nhớ quay lại nhé !                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
